- content_for :head do
  = stylesheet 'css/index.css'
  %meta{'http-equiv'=>'refresh', :content=>5}

.row
  %form{:method=>'post',:action=>'server'}
    %label.span3.offset3 Servers
    %input.span3.btn.btn-success{:type=>'submit',:value=>'Start',:name=>'start'}
.row
  .span12
    %table.table.table-bordered
      %tr
        %th ID
        %th IP
        %th Status
        %th
      - if @user.servers.empty?
        %tr
          %td{:colspan=>3} (No servers)
      - @user.servers.each do |server|
        %form{:method=>'post',:action=>"server/#{server.instance_id}"}
          %tr
            %td= server.instance_id
            %input{:type=>'hidden',:name=>'instance_id',:value=>server.instance_id}
            %td= server.instance.ip_address
            %td= server.status
            %td
              .btn-group
                - if server.status == :stopped
                  %input.btn.btn-success{:type=>'submit',:value=>'Start',:name=>'start'}
                - if server.status == :running
                  %input.btn.btn-warning{:type=>'submit',:value=>'Stop',:name=>'stop'}
                - if server.status != :terminated
                  %input.btn.btn-danger{:type=>'submit',:value=>'Terminate',:name=>'term'}
%form{:method=>'post',:action=>'backup'}
  .row
    %label.span3
      Backups:
    .btn-group
      %input.span2.btn.btn-success{:type=>'submit',:value=>'Backup',:name=>'backup'}
      %input.span2.btn.btn-warning{:type=>'submit',:value=>'Restore',:name=>'restore'}
      %input.span2.btn.btn-danger{:type=>'submit',:value=>'Delete',:name=>'delete'}
